html, body{
  height: 100%;
  margin:0;
  background-color: #000;;
}
canvas{
  width:100%;
  height:100%;
}
.container{
  position: relative;
  width: 100%;
  margin: 40% auto;
  background-color: #000;
}
.top,.left,.right,.bottom{
  position: absolute;
  width: 33.3%;
  background-color:#000;
}
.top, .bottom {
  left: 33.3%;
}
.right{
  right: 0;
}
@media screen and (min-width:767px) {
  .container{
    width: 50%;
    margin:0 auto;
  }
}
